.input-box {
  display: flex;
  width: 620px;
  height: 60px;
  margin-right: 1.8em;
  border-radius: 1em;
  background-color: var(--search-bar-background-color) !important;
}

.search-field {
  background: rgb(255, 255, 255, 0);
  /* color: white !important; */
  input,
  select,
  textarea {
    color: var(--text-color);
  }
}

.search-button {
  background-color: var(--search-icon-background-color) !important;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 20px !important;
}
