.input-box {
  display: flex;
  width: 38.75em;
  height: 3.75em;
  margin-right: 1.8em;
  border-radius: 1em;
  background-color: var(--search-bar-background-color) !important;
}

.search-button {
  background-color: var(--search-icon-background-color) !important;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 20px !important;
}
