:root {
  .bg {
    position: relative;
    background: var(--background-image);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .display-temperature {
    color: var(--main-temperature-text-color);
  }

  .container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .content {
    display: flex;
    margin-top: 2em;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 95%;
  }

  .main-content-box {
    display: flex;
    width: 700px;
    height: 1145px;
    margin-top: 5em;
    padding: 2em;
    justify-content: center;
    /* align-items: center;  */
    background-color: var(--main-container-color);
    backdrop-filter: blur(1.25em);
    border-radius: 2.5em;
    border: var(--main-container-border) !important;
  }

  .weather-logo {
    position: relative;
    left: 6.25em;
    top: -4em;
    z-index: 99;
    width: 18.75em;
    height: 18.75em;
  }

  .today-weather {
    display: flex;
    width: 38.125em;
    height: 0.625em;
    align-items: space-between;
  }

  .display-weather-subtitle {
    color: var(--display-weather-subtitle-text-color);
  }
}

/* For mobile (small) */
@media screen and (max-width: 400px) {
  :root {
    font-size: 12px !important;
  }

  .main-content-box {
    display: flex;
    width: 360px !important;
    height: 1145px !important;
    margin-top: 139px !important;
    padding: 26px !important;
    background-color: var(--main-container-color);
    backdrop-filter: blur(1.25em);
    border-radius: 2.5em;
    border: var(--main-container-border) !important;
  }

  .weather-logo {
    position: relative;
    left: 6.25em;
    top: -4em;
    z-index: 99;
    width: 9.8125em !important;
    height: 9.8125em !important;
  }
  .display-temperature {
    font-size: 30px !important;
    color: red !important;
  }
}

/* For Mobile (large) */
/* @media screen and (max-width: 768px) {
  .display-temperature {
    color: rgb(165, 41, 88) !important;
  }
} */

/* For Tablet */
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
  .display-temperature {
    color: rgb(56, 165, 42) !important;
  }
} */

/* For Small Desktop / Laptop  */
/* @media screen and (min-width: 1025px) and (max-width: 1440px) {
  .display-temperature {
    color: yellow !important;
  }
} */

/* For Large Desktop  */
@media screen and (min-width: 1441px) {
  .weather-logo {
    position: relative;
    left: 6.25em;
    top: -4em;
    z-index: 99;
    width: 157px !important;
    height: 157px !important;
  }
}
