html,
body,
#root {
  margin: 0;
  padding: 0;
}

/* Default (light mode) */
:root {
  font-family: NotoSan;

  --search-title-color: rgba(0, 0, 0, 0.4);
  --search-icon-background-color: var(--primary-color);
  --search-bar-background-color: rgba(255, 255, 255, 0.2);
  --background-image: url("../src/assets/bg-light.png");
  --main-container-color: rgba(255, 255, 255, 0.2);
  --list-container-color: rgba(255, 255, 255, 1);
  --list-container-icons: rgba(26, 26, 26, 0.5);

  --primary-color: rgba(108, 64, 181, 1);
  --display-weather-subtitle: rgba(102, 102, 102, 1);

  color: black;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --search-title-color: rgba(255, 255, 255, 0.4);
    --search-icon-background-color: rgba(40, 18, 77, 1);
    --search-bar-background-color: rgba(26, 26, 26, 0.5);
    --background-image: url("../src/assets/bg-dark.png");
    --main-container-color: rgba(26, 26, 26, 0.3);
    --list-container-color: rgba(26, 26, 26, 0.5);
    --list-container-icons: rgba(26, 26, 26, 0.5);

    color: white;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */
